@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-locale: auto;
  white-space: normal;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63em;
}

div,
a,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: inherit;
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a,
a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

.m-section {
  position: relative;
  display: block;
}
.m-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.m-section__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.m-section__container {
  position: relative;
  z-index: 3;
}

.m-container {
  width: 100%;
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .m-container {
    padding: 0 20px;
  }
}

.plug {
  background-color: #2370B7;
  color: #fff;
}
.plug__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 100dvh;
  padding-top: 40px;
  padding-bottom: 40px;
}
.plug__logo {
  width: 420px;
  margin-top: auto;
}
@media (max-width: 767px) {
  .plug__logo {
    width: 50vw;
    margin-top: 0;
  }
}
.plug__tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 34px;
  margin-bottom: auto;
  line-height: 1.63em;
}
@media (max-width: 767px) {
  .plug__tags {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 50vw;
    font-size: 12px;
    gap: 8px;
  }
}
.plug__tag {
  padding: 5px 20px 4px;
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.11);
  letter-spacing: 0.08em;
}
@media (max-width: 767px) {
  .plug__tag {
    padding: 6px 18px 4px;
  }
}
.plug__contacts {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.63em;
}
@media (max-width: 767px) {
  .plug__contacts {
    font-size: 12px;
  }
}
.plug__link {
  opacity: 1;
  transition: opacity 0.2s linear;
}
.plug__link:hover {
  opacity: 0.7;
}
.plug__line {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.plug__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  text-align: center;
}/*# sourceMappingURL=main.css.map */